# err, this is becuase the gum deployment is being re-used for a gsc-specific
# deployment. this really need to be seperated out into two things
[buildout]
develop = . src/gum-gsc-systems
parts = 
    app
    test
    mkdirs
    zpasswd
    zope_conf site_zcml zdaemon_conf deploy_ini debug_ini
    slapd
    slapadd
    slapdgsc
    slapaddgscweb
    slapaddgscsystems
    slapaddgscsystemsgroups

extends = base.cfg
          versions.cfg
newest = false
versions = versions
find-links =                
    http://bcgsc.ca/downloads/parts/software/resources/eggs/
    http://download.zope.org/distribution/
    http://download.zope.org/ppix/

[app]
eggs = gum
       ldappas
       ldapadapter
       hurry.query
       gum-gsc-systems
       Paste
       PasteScript
       PasteDeploy

[slapd]
recipe = z3c.recipe.ldap
slapd = /usr/libexec/slapd
urls = ldap://127.0.0.1:1700
allow = bind_v2
include = 
    /etc/openldap/schema/core.schema
    /etc/openldap/schema/cosine.schema
    /etc/openldap/schema/inetorgperson.schema
    /etc/openldap/schema/openldap.schema
    ${buildout:directory}/src/gum-gsc-systems/gsc.schema
modulepath =
moduleload =
suffix = "dc=example,dc=com"
rootdn = "cn=Manager,dc=example,dc=com"
# Should be 'secret' although you may need to regenerate this using
# 'slappasswd -s secret' OpenLDAP does not seem to support plain-text
# passwords for rootpw (even though the docs use a plain-text password?)
rootpw = {SSHA}zumOvz5F7QHsjxZc7gImuXmnsMT2a0PT

[slapadd]
recipe = z3c.recipe.ldap:slapadd
conf = ${slapd:conf}
ldif =
     src/gum/ftests/test_ldap_data.ldif

[slapdgsc]
recipe = z3c.recipe.ldap
slapd = /usr/libexec/slapd
urls = ldap://127.0.0.1:1800
allow = bind_v2
include = 
 /etc/openldap/schema/core.schema
 /etc/openldap/schema/cosine.schema
 /etc/openldap/schema/inetorgperson.schema
 /etc/openldap/schema/openldap.schema
 /etc/openldap/schema/nis.schema
 ${buildout:directory}/src/gum-gsc-systems/gsc.schema
modulepath =
moduleload =
suffix = "dc=bcgsc,dc=ca"
rootdn = "cn=Manager,dc=bcgsc,dc=ca"
# Should be 'secret' although you may need to regenerate this using
# 'slappasswd -s secret' OpenLDAP does not seem to support plain-text
# passwords for rootpw (even though the docs use a plain-text password?)
rootpw = {SSHA}zumOvz5F7QHsjxZc7gImuXmnsMT2a0PT

[slapaddgscweb]
recipe = z3c.recipe.ldap:slapadd
conf = ${slapdgsc:conf}
ldif = src/gum-gsc-systems/tests/web-users.ldif

[slapaddgscsystems]
recipe = z3c.recipe.ldap:slapadd
conf = ${slapdgsc:conf}
ldif = src/gum-gsc-systems/tests/systems-users.ldif

[slapaddgscsystemsgroups]
recipe = z3c.recipe.ldap:slapadd
conf = ${slapdgsc:conf}
ldif = src/gum-gsc-systems/tests/systems-groups.ldif

[omelette]
recipe = collective.recipe.omelette
eggs = ${app:eggs}
