[buildout]
develop = .
parts = app data zopectl test
# the first two links are for binary distributions of python-ldap
# there is no automated source distribution for this package right now :(
find-links = http://bcgsc.ca/downloads/parts/software/resources/eggs/
             http://svn.kmrc.de/download/distribution/
             http://download.zope.org/distribution/
             http://download.zope.org/ppix/
newest = false
extends = http://grok.zope.org/releaseinfo/grok-0.14.cfg
versions = versions

[app]
recipe = zc.zope3recipes>=0.5.3:application
eggs = gum
       ldappas
       ldapadapter
       hurry.query
site.zcml = <include package="gum" />
            <include package="gscsystems" />
            <include package="zope.app.twisted" />

            <configure i18n_domain="gum">
              <unauthenticatedPrincipal id="zope.anybody"
                                        title="Unauthenticated User" />
              <unauthenticatedGroup id="zope.Anybody"
                                    title="Unauthenticated Users" />
              <authenticatedGroup id="zope.Authenticated"
                                title="Authenticated Users" />
              <everybodyGroup id="zope.Everybody"
                              title="All Users" />
              <principal id="zope.manager"
                         title="Manager"
                         login="grok"
                         password_manager="Plain Text"
                         password="grok"
                         />

              <!-- Replace the following directive if you don't want
                   public access -->
              <grant permission="zope.View"
                     principal="zope.Anybody" />
              <grant permission="zope.app.dublincore.view"
                     principal="zope.Anybody" />

              <role id="zope.Manager" title="Site Manager" />
              <role id="zope.Member" title="Site Member" />
              <grantAll role="zope.Manager" />
              <grant role="zope.Manager"
                     principal="zope.manager" />
           </configure>

[data]
recipe = zc.recipe.filestorage

# this section named so that the start/stop script is called bin/zopectl
[zopectl]
recipe = zc.zope3recipes:instance
application = app
zope.conf = ${data:zconfig}

[test]
recipe = zc.recipe.testrunner
eggs = gum
defaults = ['--tests-pattern', '^f?tests$', '-v']

