body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 90%;
}

a {
    text-decoration: none;
}

h1 {
    color: White;
}

h2 {
    font-size: 110%;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #336;
    padding-bottom: 2px;
    border-bottom: solid #1f2b65 1px;
}

h3 {
    margin-bottom: 0.25em;
    color: #7777aa;
}

table {
    
}
td {
    font-size: 90%;
    vertical-align: top;
}

img {
    border-width: 0px;
}

pre {
    font-size: 110%;
}

#content {
    clear: both;
    margin: 0.5em 3em 0em 3em;
}

#portal-top {
    margin: 0;
    margin-top: -1em;
    padding: 0.5em 3em 0 3em;
    background-color: #2D3B77;
    width: 100%;
}

#break {
    background-color: #2D3B77;
    border-top-width: 0px;
    border-bottom-color: #555670;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 7px;
    font-size: 90%;
}

#portal-globalnav {
    clear: both;
    border-collapse: collapse;
    background-color: #2D3B77;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    list-style: none;
    line-height: normal;
    height: auto;
    font-size: 90%;
}
#portal-globalnav li {
    display: inline;
    float: left;
    text-align: center;
    background: #A8C199 url(./tab-left-sections-un.gif) top left no-repeat;
    margin: 0px 5px 0px 0px;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #2D3B77;
}
#portal-globalnav li.plain {
    background-color: #ffffff;
}
#portal-globalnav li a {
    background-color: #ffffff;
    background: transparent url(./tab-right-sections-un.gif) top right no-repeat;
    color: #1F2B65;
    height: auto;
    margin: 0em;
    padding: 5px 1.25em 2px 1.25em;
    text-decoration: none;
    display: block;
    text-decoration: none;
    border:none;
}
#portal-globalnav li.selected {
    background: #e9e9e9 url(./tab-left-sections-sel.gif) top left no-repeat;
}
#portal-globalnav li.selected a {
    background-image: url(./tab-right-sections-sel.gif);
    border: none;
    color: #660000;
}
#portal-globalnav li.selected a,
#portal-globalnav li a:hover {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    color: #811B1B;
}

/* Group Membership */

#groups {
    display: block;
    float: right;
    margin: 1em;
    padding: 0em;
    width: 330px;
    border: 2px solid #999999;
}

#groups h3 {
    font-size: 90%;
    margin-bottom: 0em;
    margin-top: 0em;
    color: #333333;
    padding: 4px;
    border-bottom: 1px solid #666666;
    background: #cccccc;
}

#groups ul {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

#groups ul li {
    margin: 0;
    padding: 4px;
    padding-left: 1em;
    border-bottom: 1px dotted #aaaaaa;
    font-size: 85%;
}

#groups a#revoke {
    float: right;
    padding: 0;
    margin: 0;
}

/* Management Panel */

#portal-bottom {
    margin: 1em 3em 1em 3em;
    padding: 0em 0em 0.5em 0em;
    background: #f1f1f1;
    border: 1px dotted #e1e1e1;
}

#portal-bottom h2 {
    padding: 0.25em;
    margin: 0em;
    background: #e1e1e1;
    color: #777777;
    border-bottom: 1px solid #a1a1a1;
}

#actions {
    padding: 0.5em 1em 0em 1em;
    font-size: 80%;
}

/* forms */

form {
    border: 1px dotted #e1e1e1;
    background-color: #e1e1e1;
    margin: 0;
    margin-top: 4em;
    padding: 0.5em;
}

form h1 {
    font-size: 130%;
    color: #777777;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0.25em;
    background: #e1e1e1;
    border-bottom: 1px solid #a1a1a1;
}

label {
    font-weight: bold;
    color: #6D746D;
    padding-left: 1em;
    margin: 0;
}

.required {
    color: red;
    font-size: 70%;
}

.field {
    top: 0;
    left: 0;
    margin: 0 1em 1em 1em;
}

.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}

.formHelp:hover {
    color: Black;
    cursor: default;
}

#actionsView {
    padding: 0.5em 1em;
}

input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    visibility: visible;
    border: 1px solid #999999;
    color: #6D746D;
    vertical-align: middle;
    font-size: 12pt;
}

.hint {
    font-weight: normal;
    color: #7777aa;
    margin: 0;
    padding: 0.25em 0 0.5em;
}

table.form-fields tbody tr {
    border: 1px solid blue;
    background: #f1f1f1;
}

td.label {
    width: 30%;
    padding: 0.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

td.field {
    width: 40%;
    padding: 0.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

td.hint {
    padding: 0.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 30%;
}

/* diff table */

table.diff {
    border-collapse: collapse;
    border: 1px solid #999999;
    margin: 1em 0em 1em 0em;
    clear: both;
    font-size: 95%;
}

table.diff tr {
    vertical-align: top;
    border: 1px solid #aaaaaa;
}

table.diff tr th {
    background: #ffffee;
    border: 1px solid #999999;
    color: black;
    font-size: 0.9em;
    padding: 0.2em 1em 0.2em 1em;
    white-space: nowrap; 
}

table.diff th.title {
    background: #ffffee;
    border-bottom: 1px solid White;
    color: White;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5em 1em 0.5em 1em;
    white-space: nowrap;
}

table.diff td {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0.2em 1em;
    text-align: left;
}

/* listing table */

caption {
    background: #ffffff;
    border: 2px solid #999999;
    color: #333333;
    font-weight: bold;
    font-size: 120%;
    padding: 1em;
    margin: 1em -1px -1em -1px;
}
table.listing {
    border-collapse: collapse;
    border: 2px solid #999999;
    margin: 1em 0em 1em 0em;
    font-size: 85%;
}
table.listing th {
    background: #cccccc;
    border-top: 1px solid White;
    border-bottom: 1px solid #666666;
    border-left: 1px solid White;
    border-right: 1px solid White;
    color: #333333;
    font-size: 0.9em;
    padding: 0.2em 1em 0.2em 1em;
    white-space: nowrap;
}
table.listing th.title {
    background: #2D3B77;
    border-bottom: 1px solid White;
    color: White;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5em 1em 0.5em 1em;
    white-space: nowrap;
}
table.listing td.top {
    border-left: 1px solid White;
    border-right: 1px solid White;
    text-align: right;
    padding: 0em 0em 1em 0em;
    /* */
    position: relative;
    left: -1px;
}
table.listing tr {
    vertical-align: top;
    border-bottom: 1px dotted #aaaaaa;
}
table.listing tr.odd {
    background: transparent;
}
table.listing tr.even {
    background: #eeeeee;
}
table.listing td {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0.2em 1em;
    text-align: left;
}
table.listing img {
    vertical-align: middle;
}

/* data table */

table.data {
    border-collapse: collapse;
    border: 2px solid #999999;
    margin: 1em 0em 1em 0em;
    clear: both;
    font-size: 85%;
}
table.data th {
    background: #cccccc;
    border-top: 1px solid White;
    border-bottom: 1px solid #666666;
    border-left: 1px solid White;
    border-right: 1px solid White;
    color: #333333;
    font-size: 0.9em;
    padding: 0.2em 1em 0.2em 1em;
    white-space: nowrap;
}
table.data th.title {
    background: #2D3B77;
    border-bottom: 1px solid White;
    color: White;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5em 1em 0.5em 1em;
    white-space: nowrap;
}
table.data tr {
    vertical-align: top;
    border-bottom: 1px dotted #aaaaaa;
}
table.data tr.odd {
    background: transparent;
}
table.data tr.even {
    background: #eeeeee;
}
table.data td {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0.2em 1em;
    text-align: left;
}
table.data th.vertical {
    border-left: 1px solid #666666;
}
table.data tr.Error {
    background-color: #faf1fa;
}

/* Autocomplete */

div.autocomplete {
  position:absolute;
  width:300px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
  font-size: 80%;
}

/* actions table */
table.actions td {
    vertical-align: top;
    font-size: 80%;
    padding-right: 4em;
}

/* sortable */

/* Sortable tables */
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

